@import 'tailwindcss';

@font-face {
	font-family: 'DSEG14ClassicMini-Regular';
	src: url('/fonts/DSEG14ClassicMini-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-seven: 'DSEG14ClassicMini-Regular', monospace;
	--font-sans: 'Red Hat Display', sans-serif;
	--color-brand-dark: oklch(0.16 0.03 324);
	--color-brand-light: oklch(0.33 0.03 324);
}

/* very new feature only supported in new chrome but it's soooo pretty  */
.smooth-corners {
	corner-shape: superellipse(1.5);
}
